

<% @reviews.each do |review| %>
  <div class="media-object">
    <div class="media-object-section">
    </div>
    <div class="media-object-section">
      <h4><%= review.rating %> stars </h4>
      <p><%= review.body %></p>
    </div>
  </div>
  <div class="button">
    <%=
      button_to 'Delete This Review',
      {controller: "admin", action: "review", id: review.id},
      method: :delete, data: {confirm: "Are you sure?"}
    %>
  </div>
<% end %>
