
<div><br/></div>
<h2 class=<%= @color.downcase %>><%= @line %></h2>
<div>
  <% @stops.each do |stop| %>
    <p class="stop-index">
      <%= link_to stop.name, stop_path(stop) %>
    </p>
  <% end %>
</div>
